<{assign var=partners value=$block.partners}>

<{includeq file='module:xoopartners|xoopartners_partners_css.html'}>

<{if $block.template == 'list'}>
    <{includeq file="module:xoopartners|xoopartners_partners_list.html" partners=$block.partners}>
<{elseif $block.template == 'table'}>
    <{includeq file="module:xoopartners|xoopartners_partners_table.html" partners=$block.partners}>
<{elseif $block.template == 'news'}>
    <{includeq file="module:xoopartners|xoopartners_partners_news.html" partners=$block.partners}>
<{elseif $block.template == 'images'}>
    <{includeq file="module:xoopartners|xoopartners_partners_images.html" partners=$block.partners}>
<{/if}>