@import url(item.css);
@import url(table.css);
@import url(like_dislike.css);
@import url(rate.css);

.xoopartnersMsg {
    padding:               1em;
    margin-bottom:         1em;
    text-align:            center;
    background-color:      #f1f1f1;
    color:                 #049cd9;
    border:                2px solid #049cd9;
}
.xoopartnersSection {
    border:                1px solid #eee;
    margin-bottom:         2em;
    padding:               1em;
}
.xoopartnersTitle {
    margin-bottom:         1em;
    padding-bottom:        .5em;
    border-bottom:         1px solid #eee;
    font-size:             19.5px;
    text-align:            center;
}
.xoopartner {
    margin:                20px 20px;
    text-align:            right;
}

.xoopartner img {
    width:                 20px;
    opacity:               .3;
    filter:                alpha(opacity=30);
}
.xoopartner img:hover {
    opacity:               1;
    filter:                alpha(opacity=100);
}
.ul-xoopartners {
    list-style-type:       none;
    padding:               1em 0;
}
.ul-xoocategories {
    list-style-type:       none;
    padding:               1em 0;
}
/*========  Icons ======== */
[class^="xoopartners-ico-"], [class*=" xoopartners-ico-"] {
    background-position:   0 0;
    background-repeat:     no-repeat;
    background-size:       16px 16px;
    display:               inline-block;
    margin-right:          0.5em;
    vertical-align:        text-top;
    line-height:           16px;
    height:                16px;
    width:                 16px;
}
[class^="xoopartners-image-"], [class*=" xoopartners-image-"] {
    background-position:   0 0;
    background-repeat:     no-repeat;
    display:               block;
    vertical-align:        text-top;
}
/*========  Float ======== */
.floatleft {
    float:                 left;
    margin:                0;
    padding-left:          0;
    border:                0;
}
.floatright {
    float:                 right;
    margin:                0;
    padding-right:         0;
    border:                0;
}
/*========  Message ======== */
.errorMsg,.confirmMsg, .resultMsg  {
    padding:               1em;
    margin-bottom:         1em;
    text-align:            center;
    border:                2px solid #ddd;
}
.errorMsg {
    background-color:      #fbe3e4;
    color:                 #d12f19;
    border-color:          #fbc2c4;
}
.confirmMsg {
    background-color:      #fff6bf;
    color:                 #817134;
    border-color:          #ffd324;
}
.resultMsg {
    background-color:      #e6efc2;
    color:                 #529214;
    border-color:          #c6d880;
}
/*========  Form ======== */
.form-horizontal .control-label {
  width:                   0;
}

.form-horizontal .controls {
  margin-left:            0;
}
