.preferenceTitle {
    text-align:            center;
    background-color:      #049cd9;
    color:                 #f1f1f1;
    font-size:             1.2em;
    padding:               .2em 0;
}

.xo-moduleadmin-image {    width:             16px;
}

.errorMsg,.confirmMsg, .resultMsg  {
    padding:               1em;
    margin-bottom:         1em;
    text-align:            center;
    border:                2px solid #ddd;
}
.errorMsg {
    background-color:      #fbe3e4;
    color:                 #d12f19;
    border-color:          #fbc2c4;
}
.confirmMsg {
    background-color:      #fff6bf;
    color:                 #817134;
    border-color:          #ffd324;
}
.resultMsg {
    background-color:      #e6efc2;
    color:                 #529214;
    border-color:          #c6d880;
}
.form-horizontal .control-label {
  width:                   0;
}

.form-horizontal .controls {
  margin-left:            0;
}
