<{includeq file='module:xoopartners|xoopartners_partners_css.html'}>

<{$xoopaginate->display()}>
<{if $template == 'blog'}>
    <{includeq file='module:xoopartners|xoopartners_partners_blog.html'}>
<{elseif $template == 'list'}>
    <{includeq file='module:xoopartners|xoopartners_partners_list.html'}>
<{elseif $template == 'table'}>
    <{includeq file='module:xoopartners|xoopartners_partners_table.html'}>
<{elseif $template == 'images'}>
    <{includeq file='module:xoopartners|xoopartners_partners_images.html'}>
<{/if}>
<{$xoopaginate->display()}>