<div id="stats">
    <{$smarty.const._XOO_PARTNERS_RATE_VOTE}><span class="average"><{$partner.xoopartners_rates}></span> / <span class="voters"><{$partner.xoopartners_vote}></span>
    <span class="yourvote <{if !$partner.xoopartners_yourvote}>hide<{/if}>">(<span class="vote"><{$partner.xoopartners_yourvote}></span>)</span>
</div>

<div id="rating" class="rating">
    <{section name=foo loop=$xoopartners_rld.rate_scale}>
        <button id="button-container-rate" class="option" value="<{$smarty.section.foo.iteration}>" title="<{$smarty.section.foo.iteration}>"></button>
    <{/section}>
    <input type="hidden" id="partner_id" value="<{$partner.xoopartners_id}>">
</div>

<script language="javascript">
<!--
$(".option").click(function(){

    var option = $(this).val();
    var item   = $("#partner_id").val();
    var token  = "<{$security}>";

    $.ajax({
        type: "POST",
        url: "partner_rate.php",
        data: "option="+option+"&partner_id="+item+"&XOOPS_TOKEN_REQUEST="+token,
        success: function(responce) {
            var json = jQuery.parseJSON(responce);
//            alert( json.error );
            if(json.error == "0") {
                $(".average").html( json.average );
                $(".voters").html( json.voters );
                $(".vote").html( json.vote );
                $(".yourvote").removeClass("hide");
            }
        }
    });
});
//-->
</script>