<{includeq file='module:xoopartners|xoopartners_partners_css.html'}>

<{if !$partners}>
    <{if $moduletitle != ''}>
        <fieldset>
            <legend><{$moduletitle}></legend>
        </fieldset>
    <{/if}>
<{/if}>

<{if !$not_found}>
    <div class="item">
        <div class="itemHead">
            <{if $xoopartners_qrcode.use_qrcode}>
                <div class="itemQRcode">
                    <a href="<{$partner.xoopartners_link}>" title="<{$partner.xoopartners_title}>"><img src="<{xoAppUrl modules/xooblog/qrcode.php}>?url=<{$partner.xoopartners_link}>" alt="<{$partner.xoopartners_link}>"></a>
                </div>
            <{/if}>

            <div class="floatleft">
                <{if $partner.xoopartners_image != "blank.gif"}>
                    <div class="partnerImage">
                        <img src="<{$partner.xoopartners_image_link}>">
                    </div>
                <{/if}>
                <div class="partner<{$partner.xoopartners_id}>">
                    <div class="itemTitle">
                        <{if $partners}>
                            <a href="<{$partner.xoopartners_link}>" title="<{$partner.xoopartners_title}>"><{$partner.xoopartners_title}></a>
                        <{else}>
                            <a rel="external" href="<{$partner.xoopartners_url}>" title="<{$partner.xoopartners_title}>"><{$partner.xoopartners_title}></a>
                        <{/if}>
                    </div>

                    <div class="itemInfo">
                        <{if $partner.xoopartners_categories}>
                            <div class="temCategories">
                                <{$smarty.const._XOO_PARTNERS_CATEGORIES}> :
                                <{foreachq from=$partner.xoopartners_categories item=category name=foo}>
                                    <a href="<{$category.xoopartners_category_link}>" title="<{$category.xoopartners_category_title}>"><{$category.xoopartners_category_title}></a><{if !$smarty.foreach.foo.last}>,&nbsp;<{/if}>
                                <{/foreach}>
                            </div>
                        <{/if}>

                        <{if $message.xooblog_message_tags}>
                            <div class="temTags">
                                <{$smarty.const._XOO_PARTNERS_TAGS}> :
                            </div>
                        <{/if}>
                    </div>
                </div>
            </div>
        </div>

        <div class="itemBody">
            <div class="itemText">
                <{$partner.xoopartners_description}>
            </div>
        </div>

        <{if !$partners}>
            <div class="itemFoot">
                <div class="floatleft">
                    <{$smarty.const._XOO_PARTNERS_READS}> : <{$partner.xoopartners_hits}>
                    &nbsp;-&nbsp;
                    <{$smarty.const._XOO_PARTNERS_VISITS}> : <{$partner.xoopartners_visit}>
                </div>
                <div class="floatright">
                    <a rel="external" href="visitpartner.php?partner_id=<{$partner.xoopartners_id}>" title="<{$partner.xoopartners_title}>"><{$smarty.const._XOO_PARTNERS_VISIT}><{$partner.xoopartners_title}></a>
                </div>
                <div class="clear"></div>

            </div>

            <{includeq file='module:xoosocialnetwork|xoosocialnetwork.html'}>
        <{/if}>
    </div>
<{else}>
    <div class="errorMsg">
        <{$smarty.const._XOO_PARTNERS_NOTFOUND}>
    </div>
<{/if}>