<{includeq file='module:xoopartners|xoopartners_categories_css.html'}>
<{if $template == 'select'}>
    <{includeq file='module:xoopartners|xoopartners_categories_select.html' categories=$categories}>
<{elseif $template == 'list'}>
    <{includeq file='module:xoopartners|xoopartners_categories_list.html' categories=$categories}>
<{elseif $template == 'table'}>
    <{includeq file='module:xoopartners|xoopartners_categories_table.html' categories=$categories}>
<{elseif $template == 'images'}>
    <{includeq file='module:xoopartners|xoopartners_categories_images.html' categories=$categories}>
<{/if}>